.inline-block {
  display: inline-block;
}

.inline {
  display: inline;
}

ul.smallalt-list > li:nth-child(2n+1),
.smallalt {
  color: darkslategrey;
}

ul.cornsilk-list {
  display: block;
}

ul.cornsilk-list > li:nth-child(2n+1) {
  color: cornsilk;
}

ul.cornsilk-list > li:not(:last-child) {
  margin-bottom: 5%;
}

.reveal section img.supress-reveal-img {
  background: none;
  border: none;
  box-shadow: none;
}

.img-shadow {
  -webkit-filter: drop-shadow(3px 3px 3px rgba(0,0,0,0.5));
}

.pseudo-h1 {
  font-size: 2.5em;
}

.pseudo-h2 {
  font-size: 1.6em;
}

.pseudo-h3 {
  font-size: 1.3em;
}

.pseudo-h4 {
  font-size: 1em;
}

.pseudo-h5 {
  font-size: 0.83em;
}

.pseudo-h6 {
  font-size: 0.67em;
}

.pseudo-h7 {
  font-size: 0.50em;
}

.pseudo-h8 {
  font-size: 0.33em;
}

.pseudo-h9 {
  font-size: 0.20em;
}

.pseudo-h10 {
  font-size: 0.15em;
}

.align-left {
  text-align: left;
}